
h2{
    font-family: 'CharukolaUltraLight', sans-serif;
    font-weight: 600;
    color: rgb(255, 55, 112);
    text-shadow: 5px 5px 5px;
}

h3{
    font-family: 'Mukti', sans-serif;
    font-weight: 600;
    color: rgb(255, 30, 10);
    text-shadow: 5px 5px 5px;

}